<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduce</title>
    <style>
        @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

        .background-banner {
            background-image: linear-gradient(45deg,
                    rgb(51 43 43 / 75%),
                    rgb(20 19 20 / 61%)), url("https://images.pexels.com/photos/847402/pexels-photo-847402.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
            max-height: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .card {
            width: 12rem;
            height: 15rem;
            margin: 0.5rem;
        }

        .card-img-top {
            height: 7rem;
            object-fit: cover;
        }

        .modal-dialog {
            max-width: 100%;
            width: auto;
            display: inline-block;
        }

        .modal-body img {
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>

<body data-bs-theme="dark">
    <div class="background-banner">
        <nav class="navbar border-bottom border-bottom-dark d-flex justify-content-space-between" data-bs-theme="dark">
            <div class="ms-3">
                <a href="https://nbcamp.spartacodingclub.kr/" style="padding-left: 20px; padding-right: 20px;"><img src="https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/webjong/images/sparta-logo.svg"
                    alt=""></a>
            </div>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-white" aria-current="page" href="{{ url_for('home')}}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{{ url_for('music')}}">Introduce</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </nav>

        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis">Smart AI Web 개발자들을 소개합니다!</h1>
            <!-- 솔직히 오글거리긴하는데 죄송합니다 -->
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">
                    <br>
                    끼얏호우!
                    <br><br>
                    당신의 감성이 담긴 인생 개발자
                    <br>
                    Data dream 에서 소중한 사람과 함께 공유하세요.
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <!-- Button trigger modal -->
                    <!-- <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        음악 추가
                    </button> -->
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog d-flex">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">최애 음악</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('music_create') }}" method="GET">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">유저</label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" name="username">
                                <div id="emailHelp" class="form-text">사용자(추천인)의 이름을 넣어주세요.</div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">노래 제목</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" name="title">
                                <div id="emailHelp" class="form-text">좋아하는 노래 제목을 넣어주세요.</div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">가수</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" name="artist">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">앨범 커버URL</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" name="image_url">
                            </div>
                            <button type="submit" class="btn btn-danger">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-4 g-4 mx-auto w-75 pb-5">

            <div class="container mt-4">
                <div class="row justify-content-center d-flex flex-nowrap">
                    <!-- 카드 -->
                    <div class="col-auto">
                        <div class="card" data-bs-toggle="modal" data-bs-target="#songModal1">
                            <img src="https://image.utoimage.com/preview/cp872722/2022/12/202212008462_500.jpg" alt=""
                                class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">나지수(AI 7기)</h5>
                                <p class="card-text">MBIT: INFJ</p>
                                <p class="card-text">같이 열심히 해봅시다.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card" data-bs-toggle="modal" data-bs-target="#songModal2">
                            <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTAxMjlfMTA1%2FMDAxNjExODUyMjMzNjgy.rkKdH5YNFmEEATBBaDwo6I0K5hU1-KwBADIWxAOn7b8g.PbSGle3w7YgObVkt8qdcZ0DB9hrduREqX6n-X1ENskUg.JPEG.yiijuhee0%2F2C80E079-EF54-4AF3-85F3-4E87E93B5DD3-6773-00000354ADC91EA1_file.jpg&type=sc960_832" alt=""
                                class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">전민성(AI 7기)</h5>
                                <p class="card-text">MBIT:INFP</p>
                                <p class="card-text">최선을 다해 최고를 위해</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card" data-bs-toggle="modal" data-bs-target="#songModal3">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9UM1bzPnadNDRNTfLkKmPzv1kKC81TMBxjw&s" alt=""
                                class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">윤율(AI 7기)</h5>
                                <p class="card-text">MBIT:ISFJ</p>
                                <p class="card-text">>포기하지 말자</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card" data-bs-toggle="modal" data-bs-target="#songModal4">
                            <img src="https://image.utoimage.com/preview/cp872722/2022/12/202212008462_500.jpg" alt=""
                                class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">주백두산(AI 7기)</h5>
                                <p class="card-text">MBIT:</p>
                                <p class="card-text">>하고싶은말</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 1번 카드 Modal  -->
            <div class="modal fade" id="songModal1" tabindex="-1" aria-labelledby="songModalLabel1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="songModalLabel1">텍스트 입력</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="https://image.utoimage.com/preview/cp872722/2022/12/202212008462_500.jpg" alt=""
                                class="img-fluid">
                            <p class="card-text">텍스트 입력</p>
                            <p class="card-text">텍스트 입력</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 2번 카드 Modal 2 -->
            <div class="modal fade" id="songModal2" tabindex="-1" aria-labelledby="songModalLabel2" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="songModalLabel2">텍스트 입력</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTAxMjlfMTA1%2FMDAxNjExODUyMjMzNjgy.rkKdH5YNFmEEATBBaDwo6I0K5hU1-KwBADIWxAOn7b8g.PbSGle3w7YgObVkt8qdcZ0DB9hrduREqX6n-X1ENskUg.JPEG.yiijuhee0%2F2C80E079-EF54-4AF3-85F3-4E87E93B5DD3-6773-00000354ADC91EA1_file.jpg&type=sc960_832" alt=""
                                class="img-fluid">
                            <p class="card-text">GIT 억까ㅠㅠ 파일 다 날라감</p>
                            <p class="card-text">PUSH, PULL 안되서 COMMIT 삭제했더니 파일 하나도 안남음 주의</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 3번 카드 Modal 3 -->
            <div class="modal fade" id="songModal3" tabindex="-1" aria-labelledby="songModalLabel3" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="songModalLabel3">윤율(AI_7기)</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9UM1bzPnadNDRNTfLkKmPzv1kKC81TMBxjw&s" alt=""
                                class="img-fluid">
                            <p class="card-text">나의 장점: 긍정적이고 화가 없다.<br>협업 스타일: 의견 수용 잘 함. 팀원 칭찬 감옥에 가두기. <br>부족하면 나머지 공부라도 열심히..
                                <br>취미: 누워있기, 다이빙, 여행 <br>앞으로의 각오: 코딩 천재가 되고 싶다.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 4번카드 Modal 4 -->
            <div class="modal fade" id="songModal4" tabindex="-1" aria-labelledby="songModalLabel4" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="songModalLabel4">텍스트 입력</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="https://image.utoimage.com/preview/cp872722/2022/12/202212008462_500.jpg" alt=""
                                class="img-fluid">
                            <p class="card-text">텍스트 입력</p>
                            <p class="card-text">텍스트 입력</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <footer>
                <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                    <!-- <p>팀노션 링크구축하기</p> -->
                    <ul class="list-unstyled d-flex"><!--노션 ICON이 없어요!!!!-->
                        <li class="ms-3"><a class="link-body-emphasis"
                            href="https://www.notion.so/teamsparta/c7465c62982541049afbaa882647efee"><i class="bi bi-postcard"></i></a></li>
                    </ul>
                    <ul class="list-unstyled d-flex">
                        <li class="ms-3"><a class="link-body-emphasis"
                            href="https://velog.io/@speirdo/posts"><i class="bi bi-postcard"></i></a></li>
                        <li class="ms-3"><a class="link-body-emphasis"
                            href="https://aitiger95.tistory.com/"><i class="bi bi-postcard"></i></a>
                        </li>
                        <li class="ms-3"><a class="link-body-emphasis" href="https://wthcode.tistory.com/"><i
                            class="bi bi-postcard"></i></a></li>
                        <li class="ms-3"><a class="link-body-emphasis" href="https://velog.io/@dbsdbf95/posts"><i
                            class="bi bi-postcard"></i></a></li>
                    </ul>
                    <!-- 아이콘 각팀원 블로그링크 구축하기 -->
                    <ul class="list-unstyled d-flex">
                        <li class="ms-3"><a class="link-body-emphasis"
                                href="https://www.youtube.com/@SpartaCodingClub"><i class="bi bi-youtube"></i></a></li>
                        <li class="ms-3"><a class="link-body-emphasis"
                                href="https://www.instagram.com/spartacodingclub/"><i class="bi bi-instagram"></i></a>
                        </li>
                        <li class="ms-3"><a class="link-body-emphasis" href="https://spartacodingclub.kr/blog"><i
                                    class="bi bi-postcard"></i></a></li>
                    </ul>
                </div>
            </footer>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
</body>

</html>